{{> header}}
		<form action="/admin" method="post">
			<label for="/etc">What is your godlevel?</label> <input id="godlevel" type="text" name="godlevel"><br>
			<label for="shadow">Is your godlevel legit?</label> <input id="md5" type="text" name="md5"><br>
			<label for="heiratswillig">There's no winter in california!'</label> <input id="password" type="text" name="password"><br>
			<label for="illegal">Please write another number</label> <input id="unused" type="text" name="unusdd"> <input id="what" type="hidden" value="login" name="what"><br>
			<input type="submit" name="Submit" value="Submit">
		</form>
{{> footer}}
