{{> header}}
		<h3>
			EDIT POST:
		</h3>
		<form action="/admin/edit" method="post">
			<textarea rows="8" cols="80" id="content" name="content">{{{Content}}}</textarea> 
			<input id="postid" type="hidden" value="{{Id}}" name="postid"><br>
			<input type="submit" name="Submit" value="Submit">
		</form>
{{> admin_postlist}}
{{> footer}}
