{{> header}}
		<h3>
			GIEF POST:
		</h3>
		<form action="/admin" method="post">
			<textarea rows="8" cols="80" id="content" name="content"></textarea><br>
			<input id="what" type="hidden" value="post" name="what"><br>
			<input type="submit" name="Submit" value="Submit">
		</form>
{{> footer}}
