<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="alternate" type="application/rss+xml" title="RSS FEED AFFE" href="/rss.xml">
		<title>fefemama.org - THE BEST BLOG IN THE UNIVERSE WRITTEN IN Go :]</title>
		<link rel=stylesheet type='text/css' href='{{CSS}}'>
		

	<script type="text/javascript">
	  var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-705689-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	</head>

	<body>
		<h1><a href="/">Fefemama</a></h1>
		<b>I love the smell of nopslides in the morning ... </b><br>
			<p align=right>Fragen? <a href="/faq.html">Antworten!</a><br>
			<i>Einsendungen und Beschwerden bitte an blog@fettemama.org</i></p>
			<p align=right>IRC: irc.hackint.eu | #fm</p>
