<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="alternate" type="application/rss+xml" title="RSS FEED AFFE" href="/rss.xml">
		<title>fefemama.org - THE BEST BLOG IN THE UNIVERSE WRITTEN IN Go :]</title>
		<link rel=stylesheet type='text/css' href='{{CSS}}'>
		

	<script type="text/javascript">
	  var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-705689-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	</head>

	<body>
		<h1><a href="/">Fefemama</a></h1>
		<b>I love the smell of nopslides in the morning ... </b><br>
			<p align=right>Fragen? <a href="/faq.html">Antworten!</a><br>
			<i>Einsendungen und Beschwerden bitte an blog@fettemama.org</i></p>
			<div style="width:80%; border:4px red solid; margin-left:auto; margin-right:auto;">
			<center><h3>Grosses Weltuntergangs-Liveblogging</h3>(mit Schnittchen)</center>
			<p>Ab <b>00:00 Uhr CEST / 21.05.2011</b> wird es hier auf Fefemama eine 24h live Berichterstattung vom stattfindenden Weltuntergang geben.
				Die heissesten News, neuste Geruechte und Interviews mit Gott und Jesus - nur hier!</p>
				<p>Wer einen IRC-Client bedienen kann, ist eingeladen uns im IRC zu joinen und ueber Gott und Liebe zu diskutieren!</p>
				<center><p><b>Server: irc.hackint.eu | Channel: #fm</b></p></center>
				<p>Der Channel ist schon jetzt geoeffnet. Wer etwas von mir will, soll mich bitte highlighten und etwas Geduld mitbringen. Ich bete gerade.</p>
			</div>
