{{> header}}
		{{#Dates}}
			<h3>{{Date}}</h3>
			<ul>
				{{#Posts}}
				{{> post}}
				{{/Posts}}
			</ul>
		{{/Dates}}
		{{#PrevMonth}}
		<center><A href="/month?m={{Month}}&y={{Year}}">Vorheriger Monat</a></center>
		{{/PrevMonth}}
{{> footer}}
